* {
  margin: 0;
  padding: 0;
}

.background {
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #514848 0%, #332e2e 100%);
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.robotLogo {
  width: 512px;
  height: 512px;
  margin-top: 5%;
}

.greeting {
  color: #eae2e2;
  font-size: 48px;
  margin-top: 3%;
  font-family: 'Press Start 2P';
}

.hello {
  color: #a1c8e4;
}

.name {
  color: #98ec70;
}
