@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Montserrat&family=Press+Start+2P&family=Rowdies&display=swap');

* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  font-family: 'Dongle', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Press Start 2P', cursive;
  font-family: 'Rowdies', cursive;
}
